h1 {
  margin: 0;
}

.card {
  position: relative;
  color: white;
  text-align: center;
  line-height: 200px;
  margin: 20px;
  height: 20rem;
  width: 20rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 100%;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  transform: perspective(700px);
}

.front,
.back {
  background-color: blue;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 20rem;
  width: 20rem;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 100%;
}

.back {
  transform: rotateY(180deg);
}

.card:hover {
  transform: perspective(700px) rotateY(180deg);
}
